@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Editor for MVC C# </h1>
    <p class="lead">This demo file created using Summernote from http://summernote.org/ </p>
    <p><a href="http://haneefputtur.com" class="btn btn-primary btn-large">Read more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        <p><a class="btn btn-default" href="About">Read More &raquo;</a></p>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>View Demo</h2>
        <p>Click the below link to view in action</p>
        <p><a class="btn btn-default" href="/News/Index">See it live &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>